body {
    background-color: #223;
    color: white;
    font-family: sans-serif;
}

#nameInput {
    padding: 5px;
    display: none;
}

#hiBtn {
    padding: 5px;
}

#msgContainer {
    padding: 5px;
}